h1 {
  font-size: 50px;
  color: red;
}
.description {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  color: violet;
  text-decoration: underline;
}
.description_em {
  text-decoration: line-through;
}
p {
  color: blue;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
   border-style: dotted;
}
#check{
    font-family: monospace;
    color:mediumblue;
}